body{
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
    font-size: 20px;
}
.google-fonts{
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1.5em;
    border-bottom: solid 3px rgb(115, 115, 114);
    font-size: 2em;
    text-shadow: 3px 3px 2px gray;
}

#parent p{
    font-weight: bold;
}

.text-skyblue{
    color: skyblue;
}

.text-pink{
    color: rgb(255, 192, 203);
}